extends layout

block content
  .cterms
    section.section.section__head
      .section--wrapper
        .row
          .col.s12
            h1.section__title GENERAL PROVISIONS
            p.section__desc
              | Please keep this important terms and conditions document 
              | (“Service Contract”) in a safe place, as it will be needed
              | at the time of Claim. This is not a contract of insurance; 
              | it is a Service Contract. The information contained in this
              | Service Contract, including on the Confirmation Page and any 
              | Amendments, is intended to serve as a valuable
              | reference guide to help You determine and understand what is
              | covered under Your Service Contract. For any questions regarding
              | the information contained in this Service Contract,
              | please contact Us at the toll free number
              | in this document.
            h5.section__bold
              | THIS SERVICE CONTRACT CONTAINS A BINDING ARBITRATION AGREEMENT AND A CLASS ACTION WAIVER,
              | WHICH AFFECTS YOUR RIGHTS UNDER THIS SERVICE CONTRACT. PLEASE READ THE TEXT UNDER THE
              | SECTION TITLED “BINDING ARBITRATION AND CLASS ACTION WAIVER” CAREFULLY.
    section.section.section__definition
      .section--wrapper
        .row
          .col.s12
            h1.section__title DEFINITIONS:
        .row.row__definition
          .col.s6.definition__col
            p
              | #[span.bold “Claim”]: a demand for service or payment in accordance
              | with this Service Contract.
            p
              | #[span.bold “Contract Fee”:] means the payment amount required from
              | the Contract Holder for coverage to remain in force under
              | this Service Contract, as stated on the Confirmation Page
              | (excludes any applicable taxes).
            p
              | #[span.bold “Contract Term”:] the period of time in which the provisions
              | of this Service Contract are valid.
            p
              | #[span.bold “Covered Product(s)”:] an item listed in the “COVERED
              | PRODUCTS” section of the Confirmation Page that was purchased
              | separately from the purchase of this Service Contract, that may or
              | may not have any remaining coverage under the manufacturer’s
              | original equipment warranty, and that is fully operational and not
              | damaged as of Your Contract Start Date.
            p
              | #[span.bold “Distributor”:] the party authorized by Us to sell this Service
              | Contract to You. The Distributor for this Service Contract is
              | shown on the Confirmation Page.
            p
              | #[span.bold “MSRP”:] the manufacturer’s suggested retail price of Your
              | Covered Product.
            p
              | #[span.bold ”Original Purchase Price”:] – the amount You paid to
              | purchase the Covered Product, excluding taxes, shipping
              | and installation.
          .col.s6.definition__col
            p
              | #[span.bold “Service Contract”:] includes these provision pages, the
              | Confirmation Page and any Amendments, and indicates
              | the terms and conditions, limitations, exceptions and
              | exclusions included herein and constitute the entire
              | contract. No representation, promise or condition not
              | contained herein shall modify these items, except as
              | required by law.
            p
              | #[span.bold “Service Fee”:] the amount You are required to pay, per
              | Claim, for services under this Service Contract, as
              | indicated on the Confirmation Page.
            p
              | #[span.bold “You”, “Your” and “Contract Holder”:] indicates the
              | purchaser of this Service Contract and the owner of the
              | Covered Product(s) that are covered by this Service
              | Contract as shown on the Confirmation Page.
            p
              | #[span.bold “Waiting Period”:] the period of time starting on the
              | Contract Start Date, as shown on the Confirmation Page,
              | during which no Claims are considered for coverage
              | under this Service Contract.
            p
              | #[span.bold We”], #[span.bold “Us”], and #[span.bold “Our”] indicate the
              | Obligor/Provider/Administrator of this Service Contract
              | as shown on the Confirmation Page.
    section.section.section__normal
      .section--wrapper
        .row
          .col.s12
            h1.section__title DEFINITIONS:
        .row
          .col.s12
            p.section__desc Subject to all the provisions, limitations and exclusions in this Service Contract, Covered Product is eligible for coverage if:
            ol.section__list
              li.section__list__item It is included in the list of Covered Products shown on the Confirmation Page;
              li.section__list__item It is used in the manner for which it was intended (as specified in the manufacturer’s warranty/owner’s manual), and
              li.section__list__item
                | It is fully operational and not damaged as of the Contract Start Date. We may require the submission of photographs of the
                | item, as well as written confirmation from You that it is fully operational and not currently damaged.
    section.section.section__normal
      .section--wrapper
        .row
          .col.s12
            h1.section__title YOUR RESPONSIBILITIES:
        .row
          .col.s12
            p.section__desc
              | #[span.bold PRODUCT PROTECTION:] If damage or breakdown of the Covered Product is suspected, You should promptly take reasonable
              | precautions in order to protect against further damage.
            p.section__desc
              | #[span.bold MAINTENANCE AND INSPECTIONS:] If specified in the Covered Product’s manufacturer’s warranty and/or owner’s manual, You
              | must perform all of the care, maintenance and inspections for the Covered Product as indicated. Proof of the completion of such
              | maintenance, care and/or inspection services may be required at time of Claim.
    section.section.section__normal
      .section--wrapper
        .row
          .col.s12
            h1.section__title EFFECTIVE DATE OF COVERAGE – WAITING PERIOD:
        .row
          .col.s12
            p.section__desc
              | #[span.bold PRODUCT PROTECTION:] If damage or breakdown of the Covered Product is suspected, You should promptly take reasonable
              | precautions in order to protect against further damage.
            p.section__desc
              | Your Contract Start Date is shown on the Confirmation Page. Your Service Contract may include a Waiting Period as shown on the
              | Confirmation Page which may vary depending on the Covered Product and/or the coverage type. The Waiting Period starts on the
              | Contract State Date. You cannot submit a claim for coverage until expiration of the applicable Waiting Period.
    section.section.section__normal
      .section--wrapper
        .row
          .col.s12
            h1.section__title PLAN AND RENEWABILITY:
        .row
          .col.s12
            p.section__desc The Plan and Renewability options of this Service Contract are indicated on the Confirmation Page and explained below.
        .row
          .col.s12
            p.section__desc
              | #[span.bold ANNUAL OR OTHER TERM PLAN] – If You purchased an Annual or Other Term Plan, You are required to pay the
              | Contract Fee at the start of the Service Contract for the initial Contract Term as indicated on the Confirmation Page, unless
              | We have offered You a payment plan allowing You to pay the Contract Fee monthly over a set number of months. If any
              | payment due is not received by Us by the due date, this Service Contract will automatically terminate and not be eligible
              | for reinstatement or any refund.
            p.section__desc
              | At the end of the initial Contract Term, and any subsequent Contract Term, this Service Contract may be eligible for
              | renewal if indicated on the Confirmation Page. To renew (1) We must receive the Contract Fee for the next term on or
              | before the due date shown on the Confirmation Page, and (2) the Limit of Liability must not have been reached. We reserve
              | the right to change the provisions of this Service Contract (including the Contract Fee and Service Fee) for each new
              | Contract Term, but if We make any change We will give you at least thirty (30) days written notice prior to the renewal
              | date. If Renewal is not indicated on the Confirmation Page, or the renewal requirements have not been met, this Service
              | Contract will end at the end of the term and We will have no further obligations to You.
            p.section__desc
              | If You submit a Claim during a time in which there are unpaid Contract Fee charges due from You; regardless of whether such
              | payments are currently due or overdue, We reserve the right to deduct all or any portion of any unpaid amounts from any covered Claim
              | amount, or require full payment of the remaining unpaid balances prior to providing any services/benefits under this Service Contract, at
              | Our sole discretion.
    section.section.section__normal
      .section--wrapper
        .row
          .col.s12
            h1.section__title WHAT IS COVERED:
        .row
          .col.s12
            p.section__desc This Contract may provide coverage for:
          .col.s12
            ol.section__list
              li.section__list__item
                p.section__desc
                  | #[span.bold Mechanical or Electrical Breakdown] - failure of a Covered Product to perform its intended function due to failure
                  | or breakdown of mechanical or electrical components, including defects in materials or workmanship and normal
                  | wear and tear; occurring during normal use of the Covered Product. Mechanical or Electrical Breakdown is only
                  | provided on those Covered Products indicated on the Confirmation Page.
              li.section__list__item
                p.section__desc
                  | #[span.bold Power Surge ] - damage to a Covered Product resulting from an oversupply of voltage to Your Covered Product
                  | while properly connected to a surge protector approved by the Underwriter’s Laboratory Inc. (UL), but not including
                  | damages resulting from the improper installation or improper connection of the Covered Product to a power supply.
                  | For major appliances such as refrigerators, freezers, washing machines, clothes dryers, dishwashers, ranges,
                  | cooktops, ovens and microwave ovens the use of an approved surge protector is not required in order to receive
                  | benefits under this Power Surge coverage. This covers only damage to the Covered Product. Power Surge is only
                  | provided on those Covered Products indicated on the Confirmation Page.
              li.section__list__item 
                p.section__desc 
                  | #[span.bold Additional Benefits] – any benefits shown on the Confirmation Page or in any attached Service Contract
                  | Amendments.
          .col.s12
            p.section__desc 
              | #[span.bold IMPORTANT DISCLOSURES REGARDING “WHAT IS COVERED” AND MANUFACTURERS WARRANTY:] Coverage
              | described in this Service Contract will not replace or provide duplicative benefits during any active manufacturer’s warranty
              | period. During such period, anything covered under the manufacturer’s warranty is the sole responsibility of the
              | manufacturer and will not be considered under this Contract, even if you fail to report it to the manufacturer or if the
              | manufacturer fails to provide coverage. This Service Contract provides additional benefits during the manufacturer’s
              | warranty term. If a Covered Product is still within any portion of the manufacturer’s warranty You should look first to the
              | manufacturer’s warranty for coverage and then to this Service Contract for coverages not provided by the manufacturer if
              | provided in this Service Contract
    section.section.section__normal
      .section--wrapper
        .row
          .col.s12
            h1.section__title IF YOU NEED TO FILE A CLAIM:
            h5.section__bold
              | IMPORTANT: The submission of a Claim does not automatically mean that the damage to or breakdown of the
              | product is covered under this Service Contract. In order for a Claim to be considered, We must be contacted first
              | for Claim approval
        .row
          .col.s12
            p.section__desc
              | Your Confirmation Page shows how to reach us if You need to file a claim. Have Your Contract Number available. A
              | customer service representative will be available 24 hours a day, 7 days a week. Explain the problem Your Covered
              | Product is experiencing. Provide Us any additional information and documentation We may need to validate the Claim.
              | We may perform a telephone diagnosis of the failure. We may also require you submit pictures as further documentation.
            p.section__desc
              | After confirmation of Claim eligibility under Your Service Contract, You will be instructed as to the procedures for obtaining
              | service applicable to Your Covered Product. We will not reimburse You for services performed without Our prior approval.
        .row
          .col.s12
            p.section__desc
              | #[span.bold SERVICE FEE:] You may be required to pay a Service Fee per Claim for covered services. The amount of any Service Fee is
              | shown on the Confirmation Page. We may collect the Service Fee at the time We authorize services, or You may be required to pay the
              | Service Fee to the service technician, at Our sole discretion.
        .row
          .col.s12
            p.section__desc
              | #[span.bold SERVICE TYPE:] In the event of a covered Claim this Contract provides, as indicated on the Confirmation Page, for either:
            ol.section__list
              li.section__list__item
                p.section__desc 
                  | #[span.bold Repair - labor and/or parts necessary to repair the Covered Product]. Parts used to repair the Product may be
                  | new, used, refurbished or non-original manufacturer parts that perform to the factory specifications of the original
                  | Covered Product. If We determine Your original Covered Product cannot be repaired, We may, at Our sole
                  | discretion, (a) replace the original Covered Product with a new or refurbished product having similar features and
                  | functionality, or (b) provide compensation in the form of a check, voucher or gift card, in an amount equal to the
                  | lesser of (i) the cost of a new or refurbished product having similar features and functionality, or (ii) the Limit of
                  | Liability shown on the Confirmation Page.
              li.section__list__item
                p.section__desc 
                  | #[span.bold Replacement - a replacement of the originally Covered Product.] We will replace your Covered Product one (1)
                  | time if required due to mechanical and/or electrical failures that occur during normal use and operation in
                  | accordance with the manufacturer’s specifications. The Covered Product will be replaced with a product of like kind
                  | and quality, with a cost not to exceed the Limit of Liability shown on the Confirmation Page.
            p.section__desc 
              | Upon replacement of a Covered Product for any reason this Contract will be fulfilled and provide no further coverage on the
              | Covered Product replaced or the replacement product. We do not guarantee that any replacement product will be of the
              | same color or brand as Your original Covered Product, and the replacement may be new, used or refurbished, in Our sole
              | discretion. Technological advances may result in a replacement product with a lower selling price than the original Covered
              | Product, and no reimbursement based on any replacement product cost difference will be provided. Any and all parts or
              | units replaced under this Service Contract become Our property in their entirety and You may be required to ship the
              | replaced parts or units to Us at Your expense.
            p.section__bold All Service Types described above are subject to the Limit of Liability section below.
        .row
          .col.s12
            p.section__desc
              | #[span.bold SERVICE LOCATIONS:] We will determine, at Our sole discret ion, which place of service f rom those
              | indicated below applies to Your Covered Product based on the Covered Product and the circumstances of failure, unless a
              | specific service location is indicated on the Confirmation Page.
        .row
          .col.s12
            ol.section__list
              li.section__list__item
                p.section__desc
                  | #[span.bold In-Home/On-Site Service ] - We will arrange for Your Covered Product to be serviced at Your location; as long as You have
                  | provided the following:
                ol.section__list.letters
                  li.section__list__item easy accessibility to the Product, as determined by Us or the authorized technician;
                  li.section__list__item a non-threatening and safe environment, as determined by Us or the authorized technician; and
                  li.section__list__item 
                    | an adult over the age of 18 to be present for the period of time Our authorized technician is scheduled for service
                    | and while Our authorized technician is on Your property servicing Your Covered Product.
                p.section__desc
                  | In the event it is necessary to continue certain repair services at a repair center, You may be required to ship/transport the
                  | Covered Product to a repair center designated by Us. In such circumstances, the shipping/transportation charges will be
                  | covered by this Service Contract. In-Home/On-Site Service will be provided by a service provider authorized by Us during
                  | regular business hours, local time, Monday through Friday (except holidays).
              li.section__list__item
                p.section__desc
                  | #[span.bold Depot Service -] We will pay for the packaging and postage costs required to ship Your Covered Product to and from Our
                  | authorized depot center.
              li.section__list__item
                p.section__desc
                  | #[span.bold Mail-In/Carry-In Service -] We will provide You with all of the information and directions necessary to complete
                  | such servicing. NOTE: for Mail-In or Carry-In Service, You are responsible for transporting or shipping Your impaired
                  | Covered Product to and from the authorized servicing center at Your expense unless indicated otherwise on the
                  | Confirmation Page. In the event the impaired Covered Product needs to be then shipped to another authorized
                  | location, We will pay for the shipping costs to and from such authorized location.
            p.section__desc
              | If We authorize service for a claim on Your Covered Product, and it is then determined by Our authorized service center/technician to
              | be excluded under this Service Contract, or results in a “no problem found” diagnosis, You may be responsible for all costs associated
              | with the diagnosis and repair including shipping costs.
            p.section__desc
              | #[span.bold INTERNATIONAL SERVICE –] Worldwide coverage for Your Covered Product is available outside the manufacturer’s
              | warranty when You travel overseas. Contact Us at 727-579-6200 to obtain detailed instructions and a repair authorization
              | number prior to work being done. Note: International Service does not include on-site service. You must be a resident of
              | the U.S. and be traveling overseas to be eligible for International Service.
    section.section.section__normal
      .section--wrapper
        .row
          .col.s12
            h1.section__title LIMIT OF LIABILITY:
        .row
          .col.s12
            ol.section__list
              li.section__list__item 
                p.section__desc
                  | #[span.bold Product Claim Limit of Liability:] For any one Covered Product, the maximum amount We will pay under this
                  | Service Contract for a single claim is shown on the Confirmation Page.
              li.section__list__item 
                p.section__desc
                  | #[span.bold Aggregate Claim Limit:] In the aggregate, the total amount We will pay for ALL Claims pursuant to this Service
                  | Contract shall not exceed the Aggregate Claim Limit shown on the Confirmation Page. In the event this limit is
                  | reached, Your Service Contract will end and We will have no further obligations to You under this Service Contract.
    section.section.section__normal
      .section--wrapper
        .row
          .col.s12
            h1.section__title WHAT IS NOT COVERED (GENERAL EXCLUSIONS) :
            h5.section__bold
              | AS RELATED AND APPLICABLE TO THE COVERED PRODUCT(S), SPECIFIC EXCLUSIONS RELATED TO EACH COVERED
              | PRODUCT, (IF ANY) ARE INDICATED WITH THE PRODUCT. THIS SECTION PROVIDES EXCLUSIONS THAT APPLY TO ALL
              | COVERED PRODUCTS. THIS CONTRACT DOES NOT COVER ANY FAILURE, DAMAGE, REPAIRS OR LOSS IN
              | CONNECTION WITH OR RESULTING FROM:
        .row
          .col.s12
            ol.section__list.letters.bold_items
              li.section__list__item 
                | Any Claim submitted during any Waiting Period shown on the Confirmation Page;
              li.section__list__item 
                | A pre-existing condition known to You (“pre-existing condition” refers to a condition that within all reasonable
                | mechanical or electrical probability, relates to the mechanical fitness of the Product before the Contract Start
                | Date;
              li.section__list__item 
                | Any Claim for service to or replacement of the Covered Product that We have not prior authorized;
              li.section__list__item 
                | Failure or damage of non-operational components such as but not limited to: case or body housings and
                | frames, wheel covers, cabinetry and cabinet frames, decorative finishing, door liners, glass, handles, knobs,
                | masks, racks, rollers or wheels, shelves, drawers, and cosmetic damage that does not impede the functionality
                | of the Covered Product;
              li.section__list__item
                | Any merchandise that has been confirmed by Our authorized servicer to have removed or altered serial
                | numbers;
              li.section__list__item
                | Initial delivery or installation costs associated with the purchase of Your Covered Product;
              li.section__list__item
                | Fortuitous events; including, but not limited to: environmental conditions, exposure to weather conditions or
                | perils of nature; collapse, explosion or collision of or with another object; fire, any kind of precipitation or
                | humidity, lightning, dirt/sand, smoke, nuclear radiation, radioactive contamination, riot, war or hostile action;
              li.section__list__item
                | Breakdown or damage that is covered under any other insurance, warranty, guarantee and/or service contract;
              li.section__list__item
                | Any merchandise that has been used by a business, enterprise or education institution, or for any commercial
                | or organizational purposes;
              li.section__list__item
                | Any work that cannot be performed in a safe manner;
              li.section__list__item
                | Correction or upgrade of the Product or System in order to comply with Federal, State, or Local Codes
                | whenever no operational failure has occurred;
              li.section__list__item
                | Abuse (meaning, the intentional mistreatment of a Covered Product in a harmful, injurious, malicious or
                | offensive manner which results in its damage and/or breakdown), neglect, negligence, misuse, intentional
                | harm or malicious mischief of or to a Covered Product;
              li.section__list__item
                | Theft or mysterious disappearance, unforeseen disappearance or vandalism of or to the Covered Product;
              li.section__list__item
                | Rust, corrosion, warping, bending, animals, animal inhabitation or insect infestation;
              li.section__list__item
                | Operation outside the manufacturer operational or environmental specifications;
              li.section__list__item
                | Product upgrades;
              li.section__list__item
                | Damage to computer hardware, software, or data arising or resulting from causes including, but not limited to:
              li.section__list__item
                | viruses, programs or applications (whether malicious or otherwise), encryption (whether authorized or
                | unauthorized), network drivers, source code, object code, proprietary data, or any support, configuration,
                | installation or reinstallation of any software or data;
              li.section__list__item
                | Unauthorized access, or modification of, any Covered Product or part or component thereof, including
                | integrated computers and computer software, whether physically or remotely, by any third party, including,
                | but not limited to, hacking, malicious software, or any modification or alteration to computer software outside
                | of the manufacturer’s original purpose;
              li.section__list__item
                | Any consumer replaceable items designed to be replaced over time during the life of a Covered Product;
                | including, but not limited to: lamps, bulbs, housings, fuses, fluids, hoses, batteries, belts, connectors, filters,
                | bags, lint screens, adaptors and remote controls not sold separately;
              li.section__list__item
                | Improper removal or installation of replaceable components, modules, parts or peripherals and/or installation
                | of incorrect parts;
              li.section__list__item
                | Periodic or preventative maintenance;
              li.section__list__item
                | Lack of providing manufacturer’s recommended maintenance or operation/storage of the Covered Product in
                | conditions outside manufacturer specifications, or use of the Covered Product in such a manner as would be
                | voidable coverage under the manufacturer’s warranty, or use of the Covered Product in a manner inconsistent
                | with its design or manufacturer specifications;
              li.section__list__item
                | Adjustment, manipulation, modification, removal or unauthorized repairs of any internal component/part of a
                | Covered Product performed by anyone other than a service center/technician authorized by Us;
              li.section__list__item
                | Any kind of manufacturer recall or rework order on the Covered Product, of which the manufacturer is
                | responsible for providing, regardless of the manufacturer’s ability to pay for such repairs.
        .row
          .col.s12
            h1.section__title WHAT IS NOT COVERED (GENERAL EXCLUSIONS) :
            h5.section__bold.underlined
              | IN ADDITION TO THAT WHICH IS NOTED ABOVE, WE SHALL NOT BE LIABLE FOR ANY INCIDENTAL OR
              | CONSEQUENTIAL DAMAGES; INCLUDING BUT NOT LIMITED TO: PROPERTY DAMAGE, LOST TIME OR LOST DATA
              | RESULTING FROM THE FAILURE OF ANY COVERED PRODUCT, OR FROM DELAYS IN SERVICE OR THE INABILITY TO
              | RENDER SERVICE, OR RESULTING FROM THE UNAVAILABILITY OF REPAIR PARTS OR COMPONENTS.
        .row
          .col.s12
            p.section__desc
              | #[span.bold IMPORTANT: RESTORATION OR TRANSFER OF SOFTWARE AND/OR DATA, AND DATA RECOVERY SERVICES ARE EXPRESSLY EXCLUDED UNDER THIS SERVICE CONTRACT. ]
              | WHEN AT ALL POSSIBLE, WE STRONGLY ENCOURAGE 
              | YOU TO BACK UP ALL SOFTWARE AND DATA ON A REGULAR BASIS AND ESPECIALLY PRIOR TO SUBMITTING YOUR
              | COVERED PRODUCT FOR SERVICING PURSUANT TO THE TERMS AND CONDITIONS OF THIS CONTRACT.
            p.section__desc
              | #[span.bold.underline TRANSFERABLE:] Coverage under this Service Contract may be transferable as indicated on the Confirmation Page.
    section.section.section__normal
      .section--wrapper
        .row
          .col.s12
            h1.section__title CANCELLATION:
        .row
          .col.s12
            p.section__desc.bold You may cancel this Service Contract at any time by informing Us of Your cancellation request.
          .col.s12
            p.section__desc.bold IF YOU CANCEL THIS SERVICE CONTRACT:
            ol.section__list
              li.section__list__item
                p.section__desc
                  | Within 30 days of the Contract Start Date, You will receive a 100% refund of the Contract Fee paid minus any claims paid.
              li.section__list__item
                p.section__desc
                  | After 30 days from the Contract Start Date You will receive a refund equal to the pro-rata amount paid for the time remaining
                  | on Your Service Contract, minus any claims.
          .col.s12
            p.section__desc
              | If Your refund is not paid or credited within thirty (30) days after We receive Your cancellation request, We will add an extra 10% to Your
              | due refund for every thirty (30) days the refund is not paid by Us.
            p.section__desc
              | #[span.bold NOTICE:] If You cancel this Service Contract during a time in which there are unpaid Contract Fee charges due from You; regardless of
              | whether such payments are currently due or overdue, We reserve the right to deduct any or the entire portion of any such unpaid amounts
              | from Your refund, if any. If Your calculated refund results in You owing Us payment for services provided in advance of Our receipt of
              | Your due Contract Fee, We may bill You for the lesser of the net amount due to Us or the remaining unpaid Contract Fee. We will bill
              | You any balance owed to Us through the same mechanism as any previous installment billings, or We will direct bill.
          .col.s12
            p.section__desc.bold WE MAY ONLY CANCEL THIS CONTRACT FOR:
            ol.section__list
              li.section__list__item Non-payment of the Contract Fee by You;
              li.section__list__item Material misrepresentation by You; or
              li.section__list__item Substantial breach of duties under this Contract by You in relation to the Covered Product or its use.
          .col.s12
            p.section__desc
              | If We cancel this Service Contract, We will provide written notice to You at least 30 days prior to the effective date of cancellation. Such
              | notice will be sent to Your current address in Our file (email or physical address as applicable), with the reason for and effective date of
              | such cancellation. If We cancel this Service Contract, You will receive a pro-rata refund based upon the same criteria as above.
    section.section.section__normal
      .section--wrapper
        .row
          .col.s12
            h1.section__title GUARANTEE:
        .row
          .col.s12
            p.section__desc
              | This is not an insurance policy; it is a service contract. We have obtained a contractual liability insurance policy to insure
              | Our performance under this Service Contract. Should We fail to pay any Claim or fail to replace the Covered Product covered
              | under this Service Contract within sixty (60) days after the Claim has been submitted, or in the event You cancel this Service
              | Contract, and We fail to refund any unearned portion of the Contract Fee, You are entitled to make a direct Claim against
              | the Contract Insurer shown on the Confirmation Page.
    section.section.section__normal
      .section--wrapper
        .row
          .col.s12
            h1.section__title BINDING ARBITRATION AND CLASS ACTION WAIVER:
        .row
          .col.s12
            p.section__desc
              | PLEASE READ THIS SECTION CAREFULLY. IT AFFECTS YOUR RIGHTS. Any controversy or claim arising out of or
              | relating to this Service Contract, or breach thereof, will be settled by binding arbitration in accordance with the Commercial
              | Arbitration Rules of the American Arbitration Association (“AAA”). You and We both agree to give up the right to resolve
              | a controversy or claim by a judge and/or jury. Prior to filing any arbitration, We jointly agree to seek to resolve any dispute
              | between us by mediation conducted by the AAA with all mediator fees and expenses paid by Us. Unless the arbitrator
              | determines that the claim was frivolous, or brought for improper or harassing purposes, We will reimburse Your arbitration
              | filing fees and pay the AAA’s and arbitrator’s fees and expenses. The decision of the arbitrator shall be final and binding
              | on all parties and may be entered as a judgment in any State or Federal court of competent jurisdiction. Any claim must
              | be brought by You or Us in an individual capacity, and not as a class representative or class member in any class action
              | litigation, and/or class arbitration or any consolidation of individual arbitrations.
            p.section__desc.bold 
              | Many states have consumer specific requirements governing Service Contract provisions, as shown below.
            p.section__desc
              | #[span.bold Arizona -] You may cancel the Service Contract at any time and receive a pro rata refund. No claim incurred or paid shall be deducted
              | from the amount to be returned. The Service Contract may not be cancelled by the service company due to acts or omissions of the
              | service company, its assignees or subcontractors for their failure to provide correct information or their failure to perform the services or
              | repairs provided in a timely, competent, workmanlike manner. This Service Contract cannot be cancelled nor coverage voided due to preexisting
              | conditions; prior use or unlawful acts relating to the product or for misrepresentation by either the service company or its
              | subcontractor. The Service Contract may be cancelled due to fraud or misrepresentation by You when filing a claim.
            p.section__desc
              | #[span.bold California -] If You cancel this Service Contract within the first sixty (60) days after receipt of this Service Contract You will receive a full
              | refund of the Contract Fee paid, less any claims paid. If You cancel after the first sixty (60) days from receipt of this Service Contract,
              | You will receive a pro rata refund based on the time remaining on Your Service Contract less any claims paid. If We cancel the Service
              | Contract, You will be refunded the unearned pro rata Contract Fee, less any claims paid.
            p.section__desc
              | #[span.bold Connecticut -] You have the right to file a complaint to the Connecticut Insurance Department, Attention: Consumer Affairs, P. O. Box
              | 816, Hartford, CT 06142. The written complaint must describe the dispute, the product purchase price, the repair costs and a copy of
              | Your Service Contract. If Your Service Contract is for less than one year, the term of Your Service Contract will be automatically extended
              | for the period during which Your product is in Our custody for repair.
            p.section__desc
              | #[span.bold Florida -] The rate charged for this Service Contract is not subject to regulation by the Florida Department of Insurance.

            p.section__desc
              | #[span.bold Georgia -] The #[span.bold WHAT IS NOT COVERED ] provision is modified as follows: Section b. regarding pre-existing condition is deleted and
              | replaced with “b. A pre-existing condition known to You. “Pre-existing condition” refers to a condition which existed prior to the Contract
              | Start Date that was known to You or reasonably should have been known to You.” The #[span.bold WE MAY CANCEL THIS CONTRACT FOR ]
              | provision is modified by deleting items 3. The #[span.bold ANNUAL OR OTHER TERM PLAN ] provision is modified by deleting the sentence reading
              | “If any payment due is not received by Us by the due date, this Service contract will automatically terminate and not be eligible for
              | reinstatement or any refund” and replacing it with the following: “If any payment due is not received by Us by the due date, We will provide
              | You with a 30-day written notice of cancellation.” The #[span.bold CANCELLATION ] provision is modified as follows: 1. No claim incurred or paid shall
              | be deducted from the amount to be returned. 2. Section 2.b. is modified by deleting “…ten percent (10%) of the Contract Fee paid…” and
              | replacing it with “…ten percent (10%) of the pro-rata refund amount…”. 3. For cancellations by Us, there is no administrative or
              | cancellation fee. The #[span.bold BINDING ARBITRATION AND CLASS ACTION WAIVER] provision is amended to add the following: “Nothing
              | contained in the arbitration provision shall affect Your right to file a direct claim under the terms of this Service Contract against the
              | Contract Insurer shown on Your Confirmation Page, if applicable, pursuant to O.C.G.A. 33-7-6.”
            
            p.section__desc
              | #[span.bold Hawaii -] THE OBLIGATIONS OF THE PROVIDER UNDER THIS SERVICE CONTRACT ARE BACKED BY THE FULL FAITH AND
              | CREDIT OF THE PROVIDER AND ARE NOT GUARANTEED UNDER A SERVICE CONTRACT REIMBURSEMENT INSURANCE
              | POLICY.
            
            p.section__desc
              | #[span.bold Iowa -] The issuer of this contract is subject to regulation by the insurance division of the department of commerce of the state of Iowa.
              | Complaints which are not settled by the issuer may be sent to the insurance division.

            p.section__desc
              | #[span.bold Nevada -] The obligations under this Service Contract are insured by a contractual liability insurance policy provided by Bankers
              | Insurance Company, 11101 Roosevelt Blvd. N, St. Petersburg, FL 33716. The cost of claims paid or services provided will not be
              | deducted from any refund. #[span.underline.bold THE SERVICE CONTRACT MAY INCLUDE A WAITING PERIOD AS SHOWN ON THE CONFIRMATION PAGE. ] 
              | In the event You require emergency service on a covered product that is essential to Your health and safety,
              | repairs will commence within 24 hours after report of Your claim. If repairs cannot be completed within three (3) calendar days after the
              | report of the claim, We will provide You and the Commissioner by electronic mail at pcinsinfo@doi.nv.gov with a status report regarding
              | Your claim. This Service Contract may not be cancelled by Us before the expiration date of the agreed term if it has been in effect at
              | least seventy (70) days except for the following reasons: Your failure to pay an amount when due; Your conviction for a crime which
              | results in an increase in the service required under the Service Contract; or in presenting a claim for service there under; discovery of
              | an act or omission by You, or a violation by You of any condition of the Service Contract which occurred after the Contract Start Date
              | and which substantially and materially increases the service required under the Service Contract; or a material change in the nature or
              | extent of the required service or repair which occurs after the Contract Start Date and which causes the required service or repair to be
              | substantially and materially increased beyond that contemplated at the time that the Service Contract was issued or sold. This Contract
              | will not cover any unauthorized or non-manufacturer-recommended modifications to the Covered Product, or any damages arising from
              | such unauthorized or non-manufacturer-recommended modifications. However, if the Covered Product is modified or repaired in an
              | unauthorized or nonmanufacturer-recommended manner, We will not automatically suspend all coverage. Rather, this Contract will
              | continue to provide any applicable coverage that is not related to the unauthorized or nonmanufacturer-recommended modification or
              | any damages arising therefrom, unless such coverage is otherwise excluded by the terms of this Contract. If You are not satisfied with
              | the manner in which the provider is handling the claim on the contract, You may contact the Commissioner by use of the toll-free number
              | of the Division, (888) 872-3234.

            p.section__desc
              | #[span.bold New Mexico -] This Service Contract may not be cancelled by Us before the expiration date of the agreed term if it has been in effect at
              | least seventy (70) days except for the following reasons: Your failure to pay an amount when due; Your conviction for a crime which
              | results in an increase in the service required under the Service Contract; or in presenting a claim for service there under; discovery of an
              | act or omission by You, or a violation by You of any condition of the Service Contract which occurred after the Contract Start Date and
              | which substantially and materially increases the service required under the Service Contract; or a material change in the nature or extent
              | of the required service or repair which occurs after the Contract Start Date and which causes the required service or repair to be
              | substantially and materially increased beyond that contemplated at the time that the Service Contract was issued or sold.

            p.section__desc
              | #[span.bold North Carolina -] The purchase of this Service Contract is not required in order to obtain financing for the product.
            
            p.section__desc
              | #[span.bold Oklahoma -] Coverage afforded under this service contract is not guaranteed by the Oklahoma Insurance Guaranty Association. The
              | obligations under this Service Contract are insured by a contractual liability insurance policy provided by Bankers Insurance Company,
              | 11101 Roosevelt Blvd. N, St. Petersburg, FL 33716,1-800-627-0000. The Oklahoma license number for Bankers Warranty Group of
              | #[span.bold Oklahoma, Inc. is 44199241. THIS SERVICE CONTRACT IS NOT ISSUED BY THE MANUFACTURER OR WHOLESALE COMPANY MARKETING THE PRODUCT COVERED BY THIS SERVICE CONTRACT. THIS SERVICE CONTRACT WILL NOT BE HONORED BY SUCH MANUFACTURER OR WHOLESALE COMPANY. This is not an insurance contract.] Coverage afforded under this service
              | contract is not guaranteed by the Oklahoma Insurance Guaranty Association. Oklahoma Service Warranty Statutes do not apply to
              | commercial use references in service warranty contracts.
            
            p.section__desc
              | #[span.bold Oregon -] In the event You have an emergency situation and are unable to reach Us, you may proceed with repairs. We will reimburse
              | You in accordance with the Service Contract provisions. The Binding Arbitration and Class Action Waiver clause is amended to add the
              | following: #[span.underline.bold “Any award rendered in accordance with this Contract’s Arbitration Agreement shall be a nonbinding award against You, ]
              | provided that you reject the arbitration decision in writing to Us within forty-five (45) days of the arbitrator’s award. Under no
              | circumstances shall a legal proceeding be filed in a federal, state or local court until such time as both You and We obtain an arbitration
              | award pursuant to this Arbitration Agreement. This Arbitration Agreement does not require You to waive Your right to a jury trial in any
              | individual legal proceeding You may file. Any arbitration occurring under this Contract shall be administered in accordance with the
              | Arbitration Rules unless any procedural requirement of the Arbitration Rules is inconsistent with the Oregon Uniform Arbitration Act in
              | which case the Oregon Uniform Arbitration Act shall control as to such procedural requirement.”

            p.section__desc
              | #[span.bold South Carolina -] In the event of a dispute with the provider of this contract, you may contact the South Carolina Department of Insurance,
              | Capitol Center, 1201 Main Street, Ste. 1000. Columbia, South Carolina 29201 or (800) 768-3467. This agreement is not an insurance
              | contract.
            
            p.section__desc
              | #[span.bold Tennessee -] The expiration date of the Service Contract will automatically be extended by the duration that the covered product is
              | withheld from Your use while being repaired, plus two (2) days.
            
            p.section__desc
              | #[span.bold Texas -] If You have a question or complaint, You may contact the Texas Department of Licensing and Regulations, P. O. Box 12157,
              | Austin, TX 78711, (800) 803-9202 or (512) 463-6599.
            
            p.section__desc
              | #[span.bold Utah -] Failure to give any notice or file any proof of loss required by the Service Contract within the time specified in the Service Contract
              | does not invalidate a claim made by You, if You show that it was not reasonably possible to give the notice or file the proof of loss within
              | the prescribed time and that notice was given or proof of loss filed as soon as reasonably possible. This Service Contract is subject to
              | limited regulation by the Utah Insurance Department. To file a complaint, contact the Utah Insurance Department. Coverage afforded
              | under this Service Contract is not guaranteed by the Property and Casualty Guaranty Association.
            
            p.section__desc
              | #[span.bold Washington -] The Binding Arbitration and Class Action Waiver clause is amended to add the following: “(1) TO RESOLVE DISPUTES,
              | YOU MAY CHOOSE EITHER BINDING ARBITRATION, PURSUANT TO THE ARBITRATION AGREEMENT PROVISION OF THIS
              | CONTRACT, OR SMALL CLAIMS COURT. BY AGREEING TO THIS CONTRACT, YOU AND WE WAIVE THE RIGHT TO HAVE
              | DISPUTES RESOLVED THROUGH COURTS OF GENERAL JURISDICTION, THE RIGHT TO TRIAL BY JURY, AND TO PARTICPATE
              | IN CLASS ARBITRATIONS AND CLASS ACTIONS;” and the sentence “The enforcement and interpretation of this arbitration agreement
              | is governed by the Federal Arbitration Act.” is deleted in its entirety
            
            p.section__desc
              | #[span.bold Wisconsin - THIS SERVICE CONTRACT IS SUBJECT TO LIMITED REGULATION BY THE OFFICE OF THE COMMISSIONER OF INSURANCE.]
              | Claims paid or the cost of repairs performed shall not be deducted from the amount to be refunded upon cancellation of
              | the Service Contract. A claim may not be denied solely because the contract holder did not obtain preauthorization. Failure to give notice
              | or proof within the time required by the Service Contract does not invalidate or reduce the claim unless We are prejudiced thereby and it
              | was reasonably possible to meet the time limit. The #[span.bold BINDING ARBITRATION AND CLASS ACTION WAIVER] provision is deleted and
              | replaced with: #[span.bold CLASS ACTION WAIVER ] – Any claim must be brought by You or Us in an individual capacity, and not as a class
              | representative or class member in any class action litigation.

            p.section__desc
              | #[span.bold Wyoming -] The Binding Arbitration and Class Action Waiver is replaced with the following: “If there are disputes between You and Us
              | that are not resolved by negotiations, You and We may in a separate written agreement voluntarily consent to arbitration. Any arbitration
              | proceedings shall be conducted within the state of Wyoming.”
