extends layoutdoc

block content
    .section.section__documenthero
      .section--wrapper
        .bgimage.antimoderate.antimoderate-bg(data-hdsrc='/imgs/getstarted_bg.png', data-antimoderate-scale='1', data-ldsrc='/imgs/getstarted_bg_alt.png', classnames='bgimage')

    .section__group.section__group--offset.bg--darkgray

      section.section.section__documents
        .section--wrapper
          .row
            .col.s12.m12
              .step__doc.anim(data-anim='fadeInDown', data-delay='0s', data-duration='1s')
                h1.step__doc__label Privacy Policy
                .step__doc__content.privacy-top
                  p InstaProtek is committed to the protection and proper use of our customers' personal information. Accordingly, we have developed this Policy to set forth the information we collect and how we collect, use, disclose, and store your information.
                  p
                    | If you have any questions or concerns regarding InstaProtek’s Privacy Policy or InstaProtek’s access to or use of your personal information, please contact us via e-mail at 
                    a(href='mailto:support@instaprotek.com') support@instaprotek.com 
                    | or telephone at 
                    span.text--bold (888) 908-2078. 

                  h3 Personal Information We Collect & How We Collect Your Information

                  p We may collect personally identifiable information whenever you interact or communicate with us. This information may include, among other things, your name, mailing address, phone number(s), e-mail address, and credit card information. We may also offer mobile applications that automatically collect information about your location from your mobile device. We may use this information in accordance with this Policy, and we may also use this information to improve our products, services, and advertising.
                  
                  p We may also collect certain additional information and store it in our log files. This information includes Internet Protocol addresses, browser type and language, Internet service providers (ISP), clickstream data, referring and exit pages, operating system, and

                  h3 How We Use and Disclose Your Personal Information

                  p We use your personal information to conduct our business and to provide you with a satisfying shopping experience and high-quality products and services. The following are examples of how we use your personal information:

                  ul
                    li We may use your personal information to help us develop and deliver quality products and services.
                    li We may use your personal information to contact you regarding upcoming events, promotions, new products, and the like.
                    li We may share your information with third-party service providers, who work with us to provide products and services, or who help InstaProtek market to customers. We require that our third-party service providers use your personal information only to perform their obligations to InstaProtek in accordance with providing you with quality products and services.
                    li We may disclose your personal information when we have reason to believe that it is necessary to identify you, contact you, or bring legal action to protect our rights or the rights of our customers.
                    li We may disclose your personal information when you ask us to do so or when we believe it is required by law, litigation, and/or requests from public and governmental authorities.
                    li We may use your personal information for internal purposes, such as auditing.
                    li We may use your personal information to administer programs in which you voluntarily participate, such as contests or promotions.
                    li We may use your information to administer our websites, to gather demographic information about our customers, and to analyze user behaviors on our websites.

                  p InstaProtek maintains certain protocols in order to protect the security of your information. The following are examples of how we protect your personal information:

                  ul
                    li We communicate our Privacy Policy and security guidelines to InstaProtek employees and strictly enforce privacy safeguards within the InstaProtek family of companies.
                    li We utilize Secure Socket Layer (SSL) technology to encrypt the data you provide to us while placing an order with us online. Some computers may not be able to "communicate" with our secure server. If you experience any difficulty, please call a member of the InstaProtek Team at 
                      |
                      span.text--bold (888) 908-2078 
                      | to place your order over the phone.
                    li In addition to encrypting your credit card information while it travels over the Internet, for your security, we do not store credit card information in our systems.

                  p If you prefer to submit your order by telephone, please call us at 
                    |
                    span.text--bold (888) 908-2078 
                    | or from time to time, you may receive promotional emails from InstaProtek based on information we have collected from you. If you would like to opt-out of receiving these emails, please click the “Unsubscribe” link at the bottom of the promotional email.

                  p If you are receiving promotional texts from InstaProtek and would like to "opt out" of receiving promotional texts, please reply “STOP” to the text. Be sure to send the text from the phone number that is listed in your account and on which you are receiving the promotional texts.

                  //- p If you would like to "opt out" of receiving online advertisements from InstaProtek, please follow the instructions on the links below:

                  //- a(href='#nolink') {LINK TO UNSUBSCRIBE}

                  h3 Contact Us

                  p If there are any questions regarding this privacy policy, you may contact us using the information below.

                  p.step__address
                    a(href='//www.instaprotek.com') https://www.instaprotek.com
                    |
                    span.breakline 1 Wrigley
                    |
                    span.breakline Irvine, CA 92618
                    |
                    span.breakline U.S.A
                    | 
                    a(href='mailto:support@instaprotek.com') support@instaprotek.com

              .step__footer
                a.backtop.btn-floating.btn-large.waves-effect.waves-light.red(href='#backtotop')
                  i.material-icons keyboard_arrow_up