.data-container Redirect #{refURL}
script.
  function getCookie(name) {
   const re = new RegExp(name + '=([^;]+)');
   const value = re.exec(document.cookie);
   return (value != null) ? unescape(value[1]) : null;
  }
 
  const m = '#{refURL}';
  const custom = 'refferer://token=' + m;
  location.href = custom;
  //- if(m){
  //-  location.href = m;
  //- } else {
  //-  document.writeln('No Cookies...');
  //- }