extends layoutdoc

block content
    .section.section__documenthero
      .section--wrapper
        .bgimage.antimoderate.antimoderate-bg(data-hdsrc='/imgs/getstarted_bg.png', data-antimoderate-scale='1', data-ldsrc='/imgs/getstarted_bg_alt.png', classnames='bgimage')

    .section__group.section__group--offset.bg--darkgray

      section.section.section__documents
        .section--wrapper
          .row
            .col.s12.m12
              .step__doc.anim(data-anim='fadeInDown', data-delay='0s', data-duration='1s')
                h1.step__doc__label Terms and Conditions
                .step__doc__content
                  h3(style='text-align: center;') Eligible Device:  Mobile Electronics
                    br 
                    | Product: Protection Case, Screen Protector or Screen Wipe Protector
                  p 
                    | This limited device protection guarantees that instaProtek will provide coverage against defects described below. 
                    | The limited device protection will be effective for a period not to exceed one (1) year beginning on the original purchase date as shown on your purchase receipt. 
                    | Your coverage is limited to the maximum amount set forth on your Product's packaging and/or as specified on the Product's website. 
                    | This amount will be applied towards the repair or replacement of your Eligible Device's screen only at approved repair facilities specified by instaProtek at the time a claim is initiated through instaProtek's Service Center.

                  p
                    |
                    span.text--bold Register Your device protection: 
                    | After purchasing and installing the Product on your Eligible Device, download the instaProtek app from the APPLE or Google Play store, 
                    | run the app and follow the instructions. The Eligible Device must be undamaged at the time the Product is applied. 
                    | Physical damage incurred prior to application of the Product will not be covered. To qualify for the screen repair guarantee, your Eligible Device 
                    | must be protected by the Product at the time of damage. This limited device protection is non-transferable and only applies to the original purchaser. 
                    | The Product must have been purchased from an authorized dealer. Your receipt must clearly show the place of purchase, date of purchase and the Product purchased.
                  p 
                    | If you successfully complete all of the registration steps, then you will receive a confirmation email, at your designated email address. 
                    | If you do not receive a confirmation email, it is your responsibility to contact our Service Center, via the information listed on the Product packaging 
                    | or App/Website to resolve this situation. Your Eligible Device will not be considered covered unless you have received a confirmation email
                  p
                    | Screen protection coverage is subject to the maximum coverage amount specified on your Product's packaging and only if the 
                    | purchased Product is properly applied. This limited device protection does not cover screen breakage or material damage to the screen resulting 
                    | from catastrophic damage that renders the Eligible Device inoperable, including but not limited to liquid damage and destruction 
                    | of the device (such as, for example, tampering or a unit that is taken apart, etc.). This limited device protection does not cover Eligible Device damage 
                    | that may have resulted from normal wear and tear or misuse/abuse of the product. instaProtek will not be liable for any indirect or incidental damages arising from the use of this Product.
                  
                  p
                    |
                    span.text--bold Claim Process: 
                    | You are responsible to ensure that you have used the Product properly, and within its specified limits by familiarizing yourself with the instructions applicable for your Product. 
                    | If you do so and accidental physical damage occurs to your Eligible Device within 1 year following your Product purchase date, then you may use your 
                    span.text--bold one-time 
                    | Product claim and submit a Service Request by calling Toll Free (888) 908-2078. InstaProtek app must have been on the device you registered at the time of damage. 
                    | The app will be used to verify your registration and device information. Our Service Center will also verify eligibility and coverage. If your Service Request passes the verification process, 
                    | then our Service Center will provide approval for the Service Request and direct you on how to complete the repair. The repair process may require an additional inspection 
                    | by our local or centralized repair facility. Upon approval, you will be referred to an approved service center or in some cases a repair center of your choice. 
                    | You are responsible for the cost of repair at the time of repair, however upon completion of the repair you may provide the repair receipt. 
                    | You will be reimbursed based on the amount of repair minus any amount covered by your warranty/insurance carrier. Your reimbursement check will be sent to you 
                    | based on the address on file in the name of the person registered. Your device must have the Product installed/applied and in place at the time the Eligible Device screen was damaged and 
                    | when the device is sent for inspection. If your Service Request has been denied, a reason for denial (such as, for example, incomplete information, mismatched information, 
                    | incorrect Product application, etc.) will be provided.
                  p
                    | Once the Service Request has been completed (either finally approved or denied) your one- time use of the limited device protection is deemed completed and 
                    | is no longer available to you for the Eligible Device and the Product purchased.
                  
                  p
                    |
                    span.text--capitalized LEGAL RIGHTS NOTICE: 
                    br
                    | THIS LIMITED DEVICE PROTECTION SETS OUT THE FULL EXTENT OF OUR RESPONSIBILITIES, AND THE EXCLUSIVE REMEDY REGARDING THE PRODUCT. 
                    | ALL IMPLIED WARRANTIES, INCLUDING WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, 
                    | ARE LIMITED TO THE DURATION OF THIS LIMITED DEVICE PROTECTION. INSTAPROTEK SHALL NOT BE LIABLE FOR SPECIAL, INDIRECT, INCIDENTAL, 
                    | PUNITIVE OR CONSEQUENTIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION, 
                    | EXPENSES ARISING OUT OF THIRD PARTY CLAIMS, INCONVENIENCE, OR ANY OTHER LOSS), WHETHER OR NOT CAUSED BY OR RESULTING FROM BREACH OF CONTRACT, 
                    | NEGLIGENCE, OR OTHER WRONGFUL ACT OR OMISSION, EVEN IF IT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
                    | INSTAPROTEK DOES NOT AUTHORIZE ANY PERSON, ENTITY OR FACILITY TO CREATE FOR IT ANY OTHER DEVICE PROTECTION OBLIGATION OR LIABILITY IN CONNECTION WITH THIS PRODUCT. 
                    | SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED DEVICE PROTECTION LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. 
                    | IN ADDITION, SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU. 
                    | THIS LIMITED DEVICE PROTECTION GIVES YOU SPECIFIC LEGAL RIGHTS, AND YOU MAY ALSO HAVE OTHER RIGHTS THAT VARY FROM STATE TO STATE.
                  p
                    |
                    span.text--capitalized PLEASE NOTE: OUR SERVICE CENTER SHALL HAVE NO RESPONSIBILITY WHATSOEVER REGARDING ANY DATA THAT IS CONTAINED ON THE ELIGIBLE DEVICE.
                  p
                    |
                    span.text--capitalized INSTAPROTEK RESERVE THE RIGHT TO MODIFY THE PROCESSES, PROCEDURES, PARAMETERS, OR OTHER TERMS OF THE PROGRAM, 
                    | OR TERMINATE THE PROGRAM ENTIRELY, AT ANY TIME, WITHOUT PRIOR NOTICE TO YOU. IF INSTAPROTEK TERMINATE THE PROGRAM, 
                    | INSTAPROTEK MAY AT ITS OWN SOLE OPTION: (I) CONTINUE TO HONOR VALID REGISTRATIONS THAT ARE MADE WITHIN THE APPLICABLE REGISTRATION PERIOD 
                    | PRIOR TO THE EFFECT DATE OF TERMINATION OF THE PROGRAM; OR (II) PROVIDE YOU WITH REASONABLE COMPENSATION (AS DETERMINED BY INSTAPROTEK IN ITS SOLE DISCRETION)

              .step__footer
                a.backtop.btn-floating.btn-large.waves-effect.waves-light.red(href='#backtotop')
                  i.material-icons keyboard_arrow_up