extends layoutproduct_otterbox

block content
  .section__group.section__group--offset.bg--darkgray.no__code.otterbox
    section.section.section__documents.no--barcode.otterbox
      h1 #{message}
    div.fix_bottom-error
      img.otter_logo-footer(src='https://acdn.dnamicro.net/otterbox/otterbox_logo.png')
    div.scroll-top
      i.fa.fa-arrow-up
  script(src='/js/product.js')