extends layoutdownload

block content
	.section__group.section__group--offset
		.bgimage_lightenimage
			.download_background
		div.endwave(style='height: 250px; overflow: hidden;')
			svg(viewbox='0 0 500 150' preserveaspectratio='none' style='height: 100%; width: 100%;')
				path(d='M-48.81,143.58 C544.86,-8.38 -18.90,135.69 645.87,-37.00 L500.00,150.00 L-0.84,156.41 Z' style='stroke: none; fill: #fff;')
		section.section
			.download_content-wrapper
				.download_container
					.content_direction.col.s12.m6.download--left
						.download_app
							img.download_icon(src='/img/favicon.webp' alt='Instaprotek Logo')
							img.download_logo(src='/img/instaprotek_logo.webp' alt='Instaprotek Logo')
						.download_txt 
							h4.download_desc Download our app from the App Store or Google Play Store to your smartphone. After downloading the app, go back to the email that contains the One-Time Passcode we sent you and click the Open App button. Log in using the One-Time Passcode.

						.download_links
							a.download_store_link(href='https://apps.apple.com/us/app/instaprotek/id1456989327', target='_blank', title='Download on the Apple Store')
								img(src='/img/download_apple_store.webp' alt='Apple brand logo')
							a.download_store_link(href='https://play.google.com/store/apps/details?id=com.instaprotek.app&hl=en_US', target='_blank', title='Get it on Google Play') 
								img(src='/img/download_google_play.webp' alt='Google play logo')
					.content_appimage
						.col.s12.m6.download--left
							.device__box.anim.reanim(data-anim='zoomIn', data-delay='0s', data-duration='1s')
								.download__phoneimg1
									img(src='/img/warranty/device_1_alt.webp').antimoderate(data-hdsrc='/img/warranty/device_1.webp' alt="Instaprotek App Activate Your Warranty page displaying on Smartphone's screen" data-antimoderate-scale='1', ldsrc='/img/warranty/device_1.webp')
								.download__phoneimg2
									img(src='/img/device_registration_alt.webp').antimoderate(data-hdsrc='/img/device_registration.webp' alt="Instaprotek App Device Registration page displaying on a Smartphone's screen", data-antimoderate-scale='1', ldsrc='/img/device_registration_alt.webp')