.input-field {
  &.inline {
    input,
    .select-dropdown {
      margin-bottom: 0.2rem;
    }
  }
}
@media only screen and #{$responsive-orientation--portrait} {
  .input_without_icon {
    padding-left: 4rem !important;
    label {
      padding-left: 3.3rem;
    }
    label.active {
      left: 1.1rem;
    }
  }
}
