extends layoutfaq

block content
	.section.section__documenthero
		.section--wrapper
			.bgimage.antimoderate.antimoderate-bg(data-hdsrc='/img/getstarted_bg.webp' alt='Instaprotek Background', data-antimoderate-scale='1', data-ldsrc='/imgs/getstarted_bg_alt.png', classnames='bgimage')

	.section__group.section__group--offset.bg--darkgray